# framework
pytest==8.3.3
selenium==4.25.0
webdriver-manager==4.0.2
playwright==1.38.0
asyncio==3.4.3 
pytest-xdist==3.1.0
pytz==2024.1
# reporting
allure-pytest==2.13.5
pytest-html==4.1.1
requests==2.32.3
paramiko>=3.4.0
cryptography>=42.0.8
dropbox
tenacity
# additional utilities
pytest-playwright==0.4.4 

# Google API dependencies
google-auth
google-auth-oauthlib
google-api-python-client
chromedriver-autoinstaller>=0.6.4
sendgrid==6.11.0
mysql-connector-python==9.0.0
pymssql==2.2.8
psycopg2-binary==2.9.9
